* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cal{
    text-align: center;
    border: 2px solid black;
    padding: 10px;
    box-shadow: 10px 20px 10px gray ,inset 5px 5px 5px gray;
    background-color: aliceblue;
    
}
input{
    margin-top: 20px;
    padding: 15px;
}
button{
    padding: 5px;
    width: 100px;
    margin-top: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
button:hover{
    box-shadow: 10px 10px 10px gray;
}

